html, body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}

h1 {
	font-size: 2rem;
}

h4 {
	font-size: 1.25em;
}
/* styles for logo section */

.container {
	max-width: 960px;
	padding: 12px 12px 0.5em;
	display: flex;
	align-items: center;
}

.logo {
	background-color: black;
	color: white;
}

div.logo img {
	width: 5%;
	padding-right: 0.5em;
}

/* styles for the banner section */

.main-banner {
	background-image: url("../img/moto.jpeg"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 25em;
}

.text-box {
	background-color: black;
	color: white;
	width: 20em;
	padding: 2em 3em;
	top: 10em;
	position: relative;
}

/* styles for nav section */
nav {
	background-color: #cc3030;
	width: 100%;
	color: white;
}

ul.nav-items {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.75em 0.75em;
}

/* styles for product grid */
div.products {
	width: 960px;
	display: flex;
	justify-content: space-between;
	margin: 3em 0 0 0;
	color: white;
}

div.product-box {
	display: block;
	width: 30%;
	background-color: black;
	text-align: center;
}

div.img-box {
	border: 4px solid black;
	background-color: white;
	padding: 2em 0;
	height: 9em;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.products img {
	max-width: 8em;
	border-style: none;
}

span.product-description {
	display: block;
	background-color: black;
	color: white;
	text-align: center;
	padding: 0.5em;
}

/* styles for location and hours section */
div.business-info {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 3em 0 0 0;
}

div.information {
	width: 35%;
}

span.heading {
	display: block;
	background-color: black;
	color: white;
	padding: 1.5em 1.5em;
}


/* styles for footer */
footer {
	background-color: black;
	color: white;
	padding: 5em 0;
	margin-top: 4em;
}

div.footer-container {
	max-width: 960px;
}
